<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.lm.busi.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blog.lm.busi.entity.Comment">
        <id column="id" property="id"/>
        <result column="post_id" property="postId"/>
        <result column="user_id" property="userId"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_author_avatar" property="commentAuthorAvatar"/>
        <result column="comment_author_url" property="commentAuthorUrl"/>
        <result column="comment_status" property="commentStatus"/>
        <result column="comment_type" property="commentType"/>
        <result column="create_time" property="createTime"/>
        <result column="del_falg" property="delFalg"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, post_id, user_id, comment_content, comment_author_avatar, comment_author_url, comment_status, comment_type, create_time, del_falg
    </sql>

</mapper>
